{{!-- <ul class="list-group">
  {{#each patterns}}
  <li class="list-group-item d-flex justify-content-between">
      <img src="{{this.coverImage}}">
      <h2><a href="/patterns/{{this.id}}">{{this.name}}</a></h2>
  </li>
  {{/each}}
</ul> --}}

<div class="row">
  {{#each patterns}}
  <div class="col-4">
    <img src="{{this.coverImage}}" class="img-fluid">
    <h2><a href="/patterns/{{this.id}}">{{this.name}}</a></h2>
  </div>
  {{/each}}
</div>