<form action="/patterns" method="POST">

  <div class="d-flex justify-content-between align-items-center">
    <h1>New Pattern Listing</h1>

    <div>
      <input
        type="submit"
        class="btn btn-success"
        value="Create New Pattern Listing"
      />
      <input type="submit" class="btn btn-secondary" value="Cancel" />
    </div>
  </div>

  <div class="form-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter Name (Required)"
      value="{{this.name}}"
    />

  </div>

  <div class="form-group d-flex align-items-center">
    <select class="form-control" id="brand" name="brand" value="{{this.brand}}">
      <option selected disabled>Select Brand (Required)</option>
      <option>Burda</option>
      <option>Butterick</option>
      <option>McCall's</option>
      <option>NewLook</option>
      <option>Simplicity</option>
      <option>Vogue</option>
    </select>
  </div>

  <div class="form-group d-flex align-items-center">
    <select
      class="form-select"
      multiple
      id="categories"
      name="categories"
      value="{{this.categories}}"
      aria-label="multiple select categories"
    >
      <option selected disabled>Select Categories (Required, hold command to
        select more than one)</option>
      <option value="Activewear">Activewear</option>
      <option value="Coats">Coats</option>
      <option value="Dresses">Dresses</option>
      <option value="Jackets">Jackets</option>
      <option value="Jumpsuits">Jumpsuits</option>
      <option value="Underwear">Underwear</option>
      <option value="Pants">Pants</option>
      <option value="Shorts">Shorts</option>
      <option value="Skirts">Skirts</option>
      <option value="Sleepwear">Sleepwear</option>
      <option value="Swimwear">Swimwear</option>
      <option value="Tops">Tops</option>
    </select>
  </div>

  <div class="form-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      id="coverImage"
      name="coverImage"
      placeholder="Enter Cover Image URL"
      value="{{this.coverImage}}"
    />
  </div>

  <div class="form-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      id="lineArtImage"
      name="lineArtImage"
      placeholder="Enter Line Art Image URL"
      value="{{this.lineArtImage}}"
    />
  </div>

  <div class="form-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      id="sizeChartImage"
      name="sizeChartImage"
      placeholder="Enter Size Chart Image URL"
      value="{{this.sizeChartImage}}"
    />
  </div>

  <div class="form-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      id="link"
      name="link"
      placeholder="Enter Link to Purchase URL"
      value="{{this.link}}"
    />
  </div>

  <div class="form-group d-flex align-items-center">
    <textarea
      class="form-control"
      id="description"
      name="description"
      placeholder="Enter Description"
      value="{{this.description}}"
      rows="2"
    ></textarea>
  </div>

  <div class="form-group d-flex align-items-center">
    <select
      class="form-control"
      id="difficulty"
      name="difficulty"
      value="{{this.difficulty}}"
    >
      <option selected disabled>Select Difficulty Level</option>
      <option>Very Easy</option>
      <option>Easy</option>
      <option>Average</option>
      <option>Advanced</option>
    </select>
  </div>

  <div class="form-group d-flex align-items-center">
    <select
      class="form-control"
      id="fabricType"
      name="fabricType"
      value="{{this.fabricType}}"
    >
      <option selected disabled>Select Fabric Type</option>
      <option>Knit</option>
      <option>Woven</option>
    </select>
  </div>

  <div class="form-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      id="fabricRecs"
      name="fabricRecs"
      placeholder="Enter Fabric Recommendations"
      value="{{this.fabricRecs}}"
    />
  </div>

  <div class="form-group d-flex align-items-center">
    <select
      class="form-control"
      id="format"
      name="format"
      value="{{this.format}}"
    >
      <option selected disabled>Select Format</option>
      <option>Digital</option>
      <option>Printed</option>
      <option>Both</option>
    </select>
  </div>

  <div class="form-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      id="sizeRange"
      name="sizeRange"
      placeholder="Enter Size Range"
      value="{{this.sizeRange}}"
    />
  </div>

</form>