<div class="row">

  <div class="col-6">

    <img src="{{coverImage}}" class="img-fluid">
    <img src="{{lineArtImage}}" class="img-fluid">
    <img src="{{sizeChartImage}}" class="img-fluid">

  </div>

  <div class="col-6">


    <div class="d-flex justify-content-between align-items-center">

      <h1>{{brand}}: <a href="{{link}}">{{name}}</a></h1>

      <div>
        <a href="/patterns/{{this.name}}/edit" class="btn btn-primary">Edit</a>
          <form action="/patterns/{{this.name}}?_method=DELETE" method="POST" class="d-inline">
            <input type="submit" value="Delete" class="btn btn-danger" />
          </form>
        <a href="/patterns" class="btn btn-secondary">&larr; Back</a>
      </div>

    </div>

    {{!-- <div d-inline><h3>Name:</h3><p>{{name}}</p></div>
    <div d-inline><h3>Brand:</h3><p>{{brand}}</p></div>
    <div d-inline><h3>Link:</h3><p>{{link}}</p></div> --}}
    <div d-inline><h3>Categories:</h3><p>{{categories}}</p></div>
    <div d-inline><h3>Description:</h3><p>{{description}}</p></div>
    <div d-inline><h3>Difficulty:</h3><p>{{difficulty}}</p></div>
    <div d-inline><h3>Fabric Type:</h3><p>{{fabricType}}</p></div>
    <div d-inline><h3>Fabric Choices:</h3><p>{{fabricChoices}}</p></div>
    <div d-inline><h3>Format:</h3><p>{{format}}</p></div>
    <div d-inline><h3>Printed yet? (if Digital):</h3><p>{{digitalPrinted}}</p></div>
    <div d-inline><h3>In print?:</h3><p>{{inPrint}}</p></div>
    <div d-inline><h3>Quantity:</h3><p>{{quantity}}</p></div>
    <div d-inline><h3>Rating:</h3><p>{{rating}}</p></div>
    <div d-inline><h3>Size:</h3><p>{{letterSize}}{{numSize}}</p></div>
    <div d-inline><h3>Tags:</h3><p>{{tags}}</p></div>

  </div>

</div>