<h1>{{brand}}: <a href="{{link}}">{{name}}</a></h1>
<h2>{{categories}}</h2>
<img src="{{coverImage}}" class="img-fluid">
<img src="{{lineArtImage}}" class="img-fluid">
<img src="{{sizeChartImage}}" class="img-fluid">
<a href="/patterns" class="btn btn-secondary">&larr; Back</a>