<div class="container-flex">
  <div class="row">
    <div class="col-6">
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
        data-bs-interval="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{coverImage}}" class="d-block w-100" alt="Cover Image" />
          </div>
          <div class="carousel-item">
            <img
              src="{{lineArtImage}}"
              class="d-block w-100"
              alt="Line Art Image"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{sizeChartImage}}"
              class="d-block w-100"
              alt="Size Chart Image"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-6">
      <div class="d-flex justify-content-between align-items-center">
        <h1>{{brand}}:
          <a
            class="link-secondary text-decoration-none"
            href="{{link}}"
          >{{name}}</a></h1>
        <div>
          <a
            href="/patterns/{{this.name}}/edit"
            class="btn btn-warning fs-6"
          >Edit</a>
          <form
            action="/patterns/{{this.name}}?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <input type="submit" value="Delete" class="btn btn-danger fs-6" />
          </form>
          <a href="/patterns" class="btn btn-secondary fs-6">Back</a>
        </div>
      </div>

      <div d-inline><h3 class="text-decoration-underline">Categories</h3><p
          class="fs-5"
        >{{categories}}</p></div>
      <div d-inline><h3 class="text-decoration-underline">Description</h3><p
          class="fs-5"
        >{{description}}</p></div>
      <div d-inline><h3 class="text-decoration-underline">Difficulty</h3><p
          class="fs-5"
        >{{difficulty}}</p></div>
      <div d-inline><h3 class="text-decoration-underline">Fabric Recommendations</h3><p
          class="fs-5"
        >{{fabricType}}s:
          {{fabricRecs}}</p></div>
      <div d-inline><h3 class="text-decoration-underline">Format</h3><p
          class="fs-5"
        >{{format}}</p></div>
      <div d-inline><h3 class="text-decoration-underline">Size Range</h3><p
          class="fs-5"
        >{{sizeRange}}</p></div>

    </div>

  </div>

</div>